*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "sans-serif";
}


header{
    padding: 2rem;
    background-color: #1F2937;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}

.Logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header_items{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.header_items a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.Hero{
    background-color: #1F2937;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Hero_Left{
    flex: 1;
}

.Hero_Left p{
    color: #E5E7EB;
    font-size: 18px;
}

.Hero_Right{
    flex: 1;    
    height: 300px;
    width: 100px;
    justify-content: space-between;
}

.Hero_Img{
    background-color: gray;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a9abae;
}

.Hero_Heading{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.Hero_Btn{
    padding: 10px 20px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.Hero_Btn:hover{
    background-color: #2563EB;
}